@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot?8ww1wf');
    src:url('../fonts/icomoon.eot?#iefix8ww1wf') format('embedded-opentype'),
    url('../fonts/icomoon.woff?8ww1wf') format('woff'),
    url('../fonts/icomoon.ttf?8ww1wf') format('truetype'),
    url('../fonts/icomoon.svg?8ww1wf#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
